*csv
*.zip
FoCus/
FoCus_modified/
checkpoints/
Research Papers/
data/
*.txt
**/wandb/
**/t5_grd_knw_grd_persona/
generator/t5_lightning/neural_qa/lightning_logs/
**/*.err
**/*.out
**/*.sh
**/job*/
**/*weight*/
**/__pycache__/
**/*.ckpt/